**/__pycache__/
/results
paper_experiments _reconstruction/CNN/results
paper_experiments _reconstruction/FC/results
paper_experiments _reconstruction/VGG_11_16_19/results
__pycache__/
/LSTM/data_handler/data